body{
  background-color: #5d6786;
}

.textform{
  height: 74vh;
}

textarea{
  resize: none;
}

.Textarea::placeholder{
  font-size: 30px;
  color: rgba(43, 43, 43, 0.33);
}

.text-summary{
  font-size: 20px;
}

.w-33{
  font-size: 24px;
}

@media only screen and (max-width: 500px) {

  .Navbar{
    width: 30rem!important;
  }

  .textform{
    height: 90vh;
  }
  
.w-33{
  width: 27rem;
}

.Case{
  flex-direction: column;
}

.footer{
  width: 30rem!important;
}

}

